h1 {
    color: rgb(19, 7, 128);
    background-color: skyblue;
}
body {
    width: 800px;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
   }
   .proyectominsa {
    display:block;
    margin: 0px auto;
    width: 500px;
    height: 300px;
   }   
 p {
       text-align: justify; 
       padding: 8px;
       font-family: Arial, Helvetica, sans-serif;
        /*color: black;
        background-color: skyblue;*/
    }
    /* Personalizado e identificando estilo */
 h1 {
        line-height: 1.3;
        text-align: center ;
        color: darkred;
        font-weight: bolder;
        border-radius: 34px;
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(175,175,194,1) 0%, rgba(112,218,240,1) 100%);
        padding: 10px;
    }
 h2 {
        text-align: center ;
        background-color: antiquewhite;
        font-weight: bold; 
        padding: 5px;
    }
 ol {
        
        justify-content: space-between;
    }